@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-image: url(./resources/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass{
  background: rgba(255, 255, 255, .25);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}